/* CSS declarations go here */
/* CSS declarations go here */
.party_selected {
	background-color: #FF00FF;
}

#container
{
	padding: 20px;
	margin: 0 auto;
	width: 800px;
	background:#fff;
}

#header
{
	background:#ccc;
}

#header h1 { margin: 0; }

#content
{
	clear: left;
	background:#F0F0F0;
}

#control-container
{
	text-align: right;
}